<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      charset="utf-8"
    ></script>

    <style>
      * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        font-family: montserrat;
        box-sizing: border-box;
      }

      body {
        min-height: 100vh;
        background-image: linear-gradient(120deg, #3498db, #8e44ad);
      }

      .login-form {
        width: 360px;
        background: #f1f1f1;
        height: 580px;
        padding: 40px 40px;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .login-form h1 {
        text-align: center;
        margin-bottom: 40px;
      }
      .logo {
        background-image: url('https://i.hizliresim.com/ty1vOY.png');
        height: 128px;
        width: 128px;
        background-size: contain;
        background-repeat: no-repeat;
        margin: auto;
        margin-top: 10px;
      }

      .txtb {
        border-bottom: 2px solid #adadad;
        position: relative;
        margin: 30px 0;
      }

      .txtb input {
        font-size: 15px;
        color: #333;
        border: none;
        width: 100%;
        outline: none;
        background: none;
        padding: 0 5px;
        height: 40px;
      }

      .txtb span::before {
        content: attr(data-placeholder);
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        z-index: -1;
        transition: 0.5s;
      }

      .txtb span::after {
        content: '';
        position: absolute;
        width: 0%;
        left: 0em;
        top: 40px;
        height: 2px;
        background: linear-gradient(120deg, #3498db, #8e44ad);
        transition: 0.5s;
      }

      .focus + span::before {
        top: -5px;
      }
      .focus + span::after {
        width: 100%;
      }

      .logbtn {
        display: block;
        width: 100%;
        height: 50px;
        border: none;
        background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
        background-size: 200%;
        color: #fff;
        outline: none;
        cursor: pointer;
        transition: 0.5s;
      }

      .logbtn:hover {
        background-position: right;
      }

      .bottom-text {
        margin-top: 40px;
        text-align: center;
        font-size: 13px;
        font-family: 'Balsamiq Sans', cursive;
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body>
    <form action="/login" method="POST" class="login-form">
      <div class="logo"></div>
      <h1>Login</h1>
      <input type="hidden" name="_id" value="{{employee._id}}">
      <div class="txtb">
         <input type="text" class="userName" name="username" style="font-family: 'Roboto', sans-serif;" value="{{employee.userName}}">
        <span data-placeholder="Username"></span>
      </div>

      <div class="txtb">
        <input type="text" class="Password" name="password" style="font-family: 'Roboto', sans-serif;" value="{{employee.password}}">
        <span data-placeholder="Password"></span>
      </div>

      <input type="submit" class="logbtn" value="Login" />

      <div class="bottom-text">
        Don't have account?

        <a href="#" style="display: block; font-family: 'Roboto', sans-serif;"
          >Buy Our Product</a
        >
      </div>
    </form>

    <script type="text/javascript">
      $('.txtb input').on('focus', function () {
        $(this).addClass('focus');
      });

      $('.txtb input').on('blur', function () {
        if ($(this).val() == '') $(this).removeClass('focus');
      });

      var loginUserName = document.querySelector('.userName').value;
      var loginPassword = document.querySelector('.userPassword').value;
      
    </script>
  </body>
</html>
